html {
  text-align: center;
  background-color: #28334a;
  opacity: 0.9;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: none;
}

header {
  margin: auto;
}

main {
  margin: 40px auto;
}

.title {
  text-transform: uppercase;
  font-size: 400%;
  border-style: dashed;
  font-family: 'Satisfy', cursive;
}

h4 {
  font-family: 'Rubik', sans-serif;
  text-decoration: underline;

}

#description {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  margin: 0 30px;
}

#active-roster {
  display: block;
  text-align: center;
}

p, img {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 20px;
  font-family: 'Rubik', sans-serif;
}

#player-image {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  height: auto;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  box-sizing: content-box;
  border: solid;
  border-radius: 20%;
  padding: 10px;
  margin: auto 30%;
  text-align: center;
  text-decoration: none;
}