html {
  text-align: center;
  background-color: #28334a;
  opacity: 0.9;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: none;
}

header {
  margin: auto;
}

.title {
  text-transform: uppercase;
  font-size: 400%;
  border-style: dashed;
  font-family: 'Satisfy', cursive;
}

input {
  margin: 0 30px;
}

#player-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  box-sizing: content-box;
  border: solid;
  border-radius: 20%;
  padding: 10px;
  margin: auto 30%;
  text-align: center;
}