html {
  text-align: center;
  background-color: #28334a;
  opacity: 0.9;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: none;
}

header {
  margin: auto;
  background-image: url("https://bit.ly/2ZVd3bV");
}

main {
  margin: 40px auto;
}

.title {
  text-transform: uppercase;
  font-size: 400%;
  border-style: dashed;
  font-family: 'Satisfy', cursive;
}

h4 {
  font-family: 'Rubik', sans-serif;
  text-decoration: underline;

}

#description {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  margin: 0 30px;
}

#active-roster {
  display: block;
  text-align: center;
}

.player-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 20px;
  font-family: 'Rubik', sans-serif;
}

#player-stats {
  border: 3mm ridge #ffffff;
}

#player-stats:empty {
  border: none;
}


/* #player-stats {
  border: solid 5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 30px;
  font-family: 'Rubik', sans-serif;
} */

img {
  border: solid;
  border-color: #72293c;
  background-color: #808080;
  margin: 10px;
}

p {
  border: solid 1px #ffffff;
  padding: 5px;
}

#player-image {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  height: auto;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer {
  position: absolute;
  box-sizing: content-box;
  border: solid;
  border-radius: 20%;
  padding: 10px;
  margin: auto 30%;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .title {
    font-size: 375%;
  }
}

@media screen and (max-width: 890px) {
  .title {
    font-size: 350%;
  }
}

@media screen and (max-width: 830px) {
  .title {
    font-size: 325%;
  }

  p {
    font-size: 80%
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 300%;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 275%;
  }

  p {
    font-size: 60%
  }
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 250%;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: auto 10px;
  }
  
  .title {
    font-size: 200%;
  }

  .footer {
    font-size: 50%;
  }

  h4 {
    font-size: 75%;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 175%;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 150%;
  }

  h4 {
    font-size: 50%;
  }
}

@media screen and (max-width: 390px) {
  .title {
    font-size: 120%;
  }

@media screen and (max-width: 300px) {
  button {
    display: block;
    margin: 20px auto;
  }
}